<!-- <p id="notice"><%= notice %></p> -->

<p>
  <strong>Description:</strong>
  <%= @itinerary.description %>
</p>

<p>
  <strong>Start:</strong>
  <%= @itinerary.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @itinerary.end %>
</p>

<%= link_to 'Edit', edit_itinerary_path(@itinerary) %> |
<%= link_to 'Back', itineraries_path %>
