<h1>Activities for </h1> <!-- put the Itinerary name-->

<table>
  <thead>
    <tr>
      <th>Waypoints</th>
      <th>Embark</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @activities %>
    <% @activities.each do |activity| %>
          <tr>
            <td><%= activity.poi%></td>
            <td><%= activity.start_time.strftime('%a, %b %d, %Y %I:%M %p') %></td>
            <td><%= link_to 'Edit', edit_itinerary_activity_path(activity.itinerary, activity) %></td>
            <td><%= link_to 'Delete', itinerary_activity_path(activity.itinerary, activity), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Activity', new_itinerary_activity_path %>
<%= link_to 'Itineraries', itineraries_path %>

    <style type="text/css">
      html, body, #map-canvas { height: 100%; margin: 0; padding: 0;}
    </style>
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyQ6oPEFLaaZ_cxjd3rJkZ3rJ5Y7N3uJo">
    </script>
    <script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: { lat: 18.4456, lng: -64.5431},
          zoom: 12
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>

  <body>
  <div id="map-canvas"></div>
  </body>